In [1]:
from pymongo import MongoClient
client = MongoClient("mongodb://localhost:27017/")
db = client.test_database
collection = db.crypto_collection

In [15]:
import pandas as pd
import numpy as np
import seaborn as sns

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [64]:
import altair as alt

In [ ]:
PRODUCT_ID = "ETH-USD"

In [2]:
collection.count()

112352

In [10]:
ticker = collection.find_one({"type":"ticker", "product_id":PRODUCT_ID})

In [11]:
ticker

{'_id': ObjectId('5f2d3948962d560df00c9ba5'),
 'type': 'ticker',
 'sequence': 9922849610,
 'product_id': 'ETH-USD',
 'price': '394.44',
 'open_24h': '394.24000000',
 'volume_24h': '150237.32444375',
 'low_24h': '391.00000000',
 'high_24h': '401.27000000',
 'volume_30d': '5288438.98779041',
 'best_bid': '394.40',
 'best_ask': '394.44',
 'side': 'buy',
 'time': '2020-08-07T11:21:40.903975Z',
 'trade_id': 61448885,
 'last_size': '0.12109596'}

In [12]:
type(ticker['sequence'])

bson.int64.Int64

In [17]:
np.array(ticker['volume_24h']).astype(np.float)

array(150237.32444375)

In [22]:
list(ticker.keys())

['_id',
 'type',
 'sequence',
 'product_id',
 'price',
 'open_24h',
 'volume_24h',
 'low_24h',
 'high_24h',
 'volume_30d',
 'best_bid',
 'best_ask',
 'side',
 'time',
 'trade_id',
 'last_size']

In [24]:
dtypes = {'_id': 'str',
 'type': 'str',
 'sequence': 'int'
 'product_id': 'str',
 'price': 'float'
 'open_24h': 'float'
 'volume_24h': 'float'
 'low_24h': 'float'
 'high_24h': 'float'
 'volume_30d': 'float'
 'best_bid': 'float'
 'best_ask': 'float'
 'side': 'str'
 'time': 'str'
 'trade_id': 'int',
 'last_size': 'float'}

SyntaxError: invalid syntax (<ipython-input-24-95ed04e281d1>, line 4)

In [32]:
df = pd.DataFrame.from_dict(collection.find({"type":"ticker"}))

In [33]:
df.head()

,_id,type,sequence,product_id,price,open_24h,volume_24h,low_24h,high_24h,volume_30d,best_bid,best_ask,side,time,trade_id,last_size
0,5f2d3948962d560df00c9ba1,ticker,2215518589,ETH-BTC,0.03352,0.03374000,21835.28768411,0.03337000,0.03384000,891625.19006849,0.03351,0.03352,buy,2020-08-07T11:21:13.238814Z,10094140,0.01621807
1,5f2d3948962d560df00c9ba3,ticker,4627012291,ETH-EUR,334.48,333.48000000,21498.18475812,330.21000000,338.75000000,827188.78290180,334.48,334.64,sell,2020-08-07T11:21:29.554511Z,10048940,0.02310305
2,5f2d3948962d560df00c9ba5,ticker,9922849610,ETH-USD,394.44,394.24000000,150237.32444375,391.00000000,401.27000000,5288438.98779041,394.40,394.44,buy,2020-08-07T11:21:40.903975Z,61448885,0.12109596
3,5f2d3949962d560df00c9baa,ticker,15589846670,BTC-USD,11765.25,11689.75000000,17288.89646029,11650.00000000,11920.00000000,372239.13121871,11765.24,11765.25,buy,2020-08-07T11:21:41.621160Z,99233142,0.00867865
4,5f2d3949962d560df00c9c03,ticker,9922849715,ETH-USD,394.45,394.24000000,150237.58257997,391.00000000,401.27000000,5288439.24592663,394.40,394.45,buy,2020-08-07T11:21:43.292671Z,61448886,0.25813622

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 798 entries, 0 to 797
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   _id         798 non-null    object
 1   type        798 non-null    object
 2   sequence    798 non-null    int64
 3   product_id  798 non-null    object
 4   price       798 non-null    object
 5   open_24h    798 non-null    object
 6   volume_24h  798 non-null    object
 7   low_24h     798 non-null    object
 8   high_24h    798 non-null    object
 9   volume_30d  798 non-null    object
 10  best_bid    798 non-null    object
 11  best_ask    798 non-null    object
 12  side        798 non-null    object
 13  time        798 non-null    object
 14  trade_id    798 non-null    int64
 15  last_size   798 non-null    object
dtypes: int64(2), object(14)
memory usage: 99.9+ KB

In [57]:
df.price = df.price.astype(float)
df.open_24h = df.open_24h.astype(float)
df.volume_24h = df.volume_24h.astype(float)
df.low_24h = df.low_24h.astype(float)
df.high_24h = df.high_24h.astype(float)
df.volume_30d = df.volume_30d.astype(float)
df.best_bid = df.best_bid.astype(float)
df.best_ask = df.best_ask.astype(float)
df.trade_id = df.trade_id.astype(int)
df.time = pd.to_datetime(df.time)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 798 entries, 0 to 797
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   _id         798 non-null    object
 1   type        798 non-null    object
 2   sequence    798 non-null    int64
 3   product_id  798 non-null    object
 4   price       798 non-null    float64
 5   open_24h    798 non-null    float64
 6   volume_24h  798 non-null    float64
 7   low_24h     798 non-null    float64
 8   high_24h    798 non-null    float64
 9   volume_30d  798 non-null    float64
 10  best_bid    798 non-null    float64
 11  best_ask    798 non-null    float64
 12  side        798 non-null    object
 13  time        798 non-null    datetime64[ns, UTC]
 14  trade_id    798 non-null    int32
 15  last_size   798 non-null    object
dtypes: datetime64[ns, UTC](1), float64(8), int32(1), int64(1), object(5)
memory usage: 96.8+ KB

In [59]:
df.describe()

,sequence,price,open_24h,volume_24h,low_24h,high_24h,volume_30d,best_bid,best_ask,trade_id
count,7.980000e+02,798.000000,798.000000,798.000000,798.000000,798.000000,7.980000e+02,798.000000,798.000000,7.980000e+02
mean,1.189933e+10,6249.345072,6221.243843,61388.902870,6191.126355,6335.097583,2.048755e+06,6249.236788,6249.485160,7.295506e+07
std,4.333775e+09,5711.447306,5683.650234,62047.117611,5658.053567,5788.684715,2.259873e+06,5711.370353,5711.557728,3.195876e+07
min,2.215519e+09,0.033480,0.033710,17287.194246,0.033370,0.033840,3.722002e+05,0.033480,0.033490,1.004894e+07
25%,9.922867e+09,393.880000,395.000000,17293.474434,391.000000,401.270000,3.722283e+05,393.870000,393.900000,6.144896e+07
50%,1.558985e+10,11751.310000,11701.030000,17316.039013,11650.000000,11920.000000,3.722430e+05,11751.230000,11751.320000,9.923316e+07
75%,1.558987e+10,11759.267500,11701.030000,150272.861919,11650.000000,11920.000000,5.288502e+06,11759.190000,11759.372500,9.923335e+07
max,1.558992e+10,11772.440000,11719.170000,151253.765798,11650.000000,11920.000000,5.289239e+06,11771.490000,11772.440000,9.923355e+07

In [54]:
df.product_id.value_counts()

BTC-USD    413
ETH-USD    260
ETH-EUR     83
ETH-BTC     42
Name: product_id, dtype: int64

In [71]:
ether = df.loc[df.product_id == "ETH-USD",:]
type(ether)
ether.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260 entries, 2 to 796
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   _id         260 non-null    object
 1   type        260 non-null    object
 2   sequence    260 non-null    int64
 3   product_id  260 non-null    object
 4   price       260 non-null    float64
 5   open_24h    260 non-null    float64
 6   volume_24h  260 non-null    float64
 7   low_24h     260 non-null    float64
 8   high_24h    260 non-null    float64
 9   volume_30d  260 non-null    float64
 10  best_bid    260 non-null    float64
 11  best_ask    260 non-null    float64
 12  side        260 non-null    object
 13  time        260 non-null    datetime64[ns, UTC]
 14  trade_id    260 non-null    int32
 15  last_size   260 non-null    object
dtypes: datetime64[ns, UTC](1), float64(8), int32(1), int64(1), object(5)
memory usage: 33.5+ KB

In [67]:
alt.Chart(ether).mark_line().encode(
    x='sequence',
    y='price'
)

TypeError: Object of type ObjectId is not JSON serializable

alt.Chart(...)